/* Table Container */
.table-container {
 padding: 3.0rem;
 background-color: #f9f9f9;
 border-radius: 10px;
 box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
 overflow-x: auto;
 margin-left: 0%;
 margin-top: 100px;

}


.table-container {
 float: left; /* Forces the table to the left side */
}


/* Table Title */
.table-title {
 font-size: 24px;
 font-weight: bold;
 text-align: Center;
 margin-bottom: 1rem;
 color: #333;
}

/* Table Wrapper */
.table-wrapper {
 overflow-x: auto;
}

/* Styled Table */
.styled-table {
 width: 100%;
 border-collapse: collapse;
 background-color: white;
 border-radius: 8px;
 overflow: hidden;
}

.styled-table th, .styled-table td {
 padding: 12px;
 border: 1px solid #ddd;
 text-align: left;
}

.styled-table th {
 background-color: rgb(14, 141, 166);
 color: white;
 font-weight: bold;
}

.styled-table tbody tr:nth-child(even) {
 background-color: #f9fafb;
}

.styled-table tbody tr:hover {
 background-color: #f1f5f9;
 transition: 0.3s;
}

/* Delete Button */
.delete-button {
 background-color: #ef4444;
 color: white;
 padding: 6px 12px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background 0.3s;
}

.delete-button:hover {
 background-color: #dc2626;
}